---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-guardian-guardian-io-v1alpha1-namespacerequest
  failurePolicy: Fail
  name: mnamespacerequest-v1alpha1.kb.io
  rules:
  - apiGroups:
    - guardian.guardian.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - namespacerequests
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-guardian-guardian-io-v1alpha1-namespacerequest
  failurePolicy: Fail
  name: vnamespacerequest-v1alpha1.kb.io
  rules:
  - apiGroups:
    - guardian.guardian.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - namespacerequests
  sideEffects: None
