---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - limitranges
  - namespaces
  - resourcequotas
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - guardian.guardian.io
  resources:
  - namespacerequests
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - guardian.guardian.io
  resources:
  - namespacerequests/status
  - tenants/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - guardian.guardian.io
  resources:
  - tenants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - guardian.guardian.io
  resources:
  - tenants/finalizers
  verbs:
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
