---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: tenants.guardian.guardian.io
spec:
  group: guardian.guardian.io
  names:
    kind: Tenant
    listKind: TenantList
    plural: tenants
    shortNames:
    - ten
    singular: tenant
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              allowedGroups:
                items:
                  type: string
                minItems: 1
                type: array
              defaultEnv:
                default: dev
                description: DefaultEnv 可选：默认环境（dev/test/prod）
                enum:
                - dev
                - test
                - prod
                type: string
              owner:
                description: Owner 可选：负责人/团队
                maxLength: 63
                type: string
            required:
            - allowedGroups
            type: object
          status:
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
